@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bs-body-bg: #08f9fa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #f5f5f5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  border-radius: 12px; /* Más redondeado */
  font-weight: bold; /* Texto más fuerte */
}

.navbar {
  background-color: #4b0082 !important; /* morado */
}

.navbar a {
  color: white !important;
}

html, body, #__next {
  height: 100%;
  margin: 0;
}

.btn-excel {
  background: linear-gradient(135deg, #28a745, #21a335);
  color: white;
}

.btn-pdf {
  background: linear-gradient(135deg, #dc3545, #c82333);
  color: white;
}
